.container {
    text-align: center;
}

.user-input {
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    width: 400px;
    margin: 20px auto;
}

.card {
    width: 90px;
    height: 90px;
    background-image: url('img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    color: transparent;
    overflow: hidden;
}

.card.active {
    background-color: #fff;
    background-image: none;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    display: none;
}

.card.active img, .card.matched img {
    display: block;
}

.card.matched {
    background-color: #00FF7F;
    pointer-events: none;
}

#message, #attempts, #timer {
    font-size: 18px;
}

.ranking {
    text-align: left;
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

.ranking h2 {
    margin: 0;
}

.ranking ul {
    list-style-type: none;
    padding: 0;
}

.ranking li {
    margin: 5px 0;
}
#end-game-buttons {
    margin-top: 20px;
}

#end-game-buttons button {
    margin: 5px;
}